/* Q2 */
.box {
  display: flex;
}

/* Q3 */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
/* Q3 */
.item5 {
  grid-area: 2/1 / span1/span3;
}

/* Q4 */
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
